{% extends 'layout.html' %}

{% block title %} MAIL UNMERGE {% endblock %}
{% block body %}
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Mail Unmerge</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Automating notification email actions for recruiting teams (...or anyone really)</p>
            </div>
        </header>
        <!-- Overview Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="row" style="color: white">_</div>
            <div class="container">
                <!-- Overview Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Overview</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10 text-center">
                        <p>Recruiting teams receive multiple action-requiring automated notifications from Applicant Tracking Systems (ATS) such as Greenhouse each day. They tend to take action on these notifications as they come in, often manually extracting the key data needed for each action one email at a time.</p>
                        <p>This results in a disjointed and inefficient workflow that is prone to manual error.</p>
                        <p>Mail Unmerge minimizes these manual actions and the associated error margin, while also creating a new stream of candidate scheduling activity data that enables load balancing and surfaces leading forecasting indicators.</p>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
                <div class="container align-items-center text-center">
                </div>
                <div class="row">
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p>
                       <img class="img-fluid" src="{{url_for('static', filename='mail_unmerge_mini.gif')}}"> 
                    </p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <!-- Overview Grid Items-->
                <div class="row justify-content-center">
                    <!-- Overview Item 1 Image-->
                    <div class="col-md-6 col-lg-3 mb-5">
                        <div class="container">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            </div>
                            <img class="img-fluid" src="{{url_for('static', filename='email_anxiety.jpg')}}">
                        </div>
                    </div>
                    <!-- Overview Item 1 Text-->
                    <div class="col-md-6 col-lg-3 mb-5">
                        <h5 class="mb-3">Anti inbox anxiety</h5>
                        <p>The automation moves standard action-requiring emails out of the inbox to custom labels for focused "power-hour" actioning without inbox anxiety.</p>
                    </div>
                    <!-- Overview Item 2 Image-->
                    <div class="col-md-6 col-lg-3 mb-5">
                        <div class="container">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <img class="img-fluid" src="{{url_for('static', filename='power_hour.jpg')}}">
                            </div>
                        </div>
                    </div>
                    <!-- Overview Item 2 Text-->
                    <div class="col-md-6 col-lg-3 mb-5">
                        <h5 class="mb-3">Scheduling power hour</h5>
                        <p>The automation enables focused and contiguous actioning from consolidated key data tracker sheets instead of out of the inbox, one wordy email at a time.</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <!-- Overview Item 3 Image-->
                    <div class="col-md-6 col-lg-3 mb-5">
                        <div class="container">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            </div>
                            <img class="img-fluid" src="{{url_for('static', filename='cover.jpg')}}">
                        </div>
                    </div>
                    <!-- Overview Item 3 Text-->
                    <div class="col-md-6 col-lg-3 mb-5">
                        <h5 class="mb-3">Cover through visibility</h5>
                        <p>The tracker sheets enable team members to easily cover for each other by providing visibility into each others candidate pipelines whenever needed.</p>
                    </div>
                    <!-- Overview Item 4 Image-->
                    <div class="col-md-6 col-lg-3 mb-5">
                        <div class="container">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            </div>
                            <img class="img-fluid" src="{{url_for('static', filename='indicators.jpg')}}">
                        </div>
                    </div>
                    <!-- Overview Item 4 Text-->
                    <div class="col-md-6 col-lg-3 mb-5">
                        <h5 class="mb-3">Leading indicators</h5>
                        <p>By aggregating notification email level activity, the automation surfaces candidate volume trends and load balancing opportunities across the team.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- How it works Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="row" style="color: white">_</div>
            <div class="container">
                <!-- How it works Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">How it works</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10 text-center">
                        <p>Mail Unmerge is a library of <a href="https://developers.google.com/apps-script">Google Apps Scripts</a></p>
                        <p>These scripts continually search and label action requiring notification emails, while also parsing and writing the key content from these emails to a candidate tracker log.</p>
                        <p>This allows recruiters to action directly from a concise, tabular summary of their tasks.</p>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
                <div class="container align-items-center text-center">
                </div>
                <div class="row">
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <!-- How it works Titles-->
                <div class="row justify-content-center">
                    <!-- How it works Go From -->
                    <div class="col-md-6 col-lg-6 mb-5">
                        <div class="container text-center">
                            <h4 class="text-uppercase mb-4">Go from this</h4>
                        </div>
                    </div>
                    <!-- How it works Go To -->
                    <div class="col-md-6 col-lg-6 mb-5">
                        <div class="container text-center">
                            <h4 class="text-uppercase mb-4">To this</h4>
                        </div>
                    </div>
                </div>
                <!-- How it works GIFs -->
                <div class="row justify-content-center">
                    <!-- How it works Go From GIF -->
                    <div class="col-md-6 col-lg-6 mb-5">
                        <div class="container text-center">
                            <img class="img-fluid" src="{{url_for('static', filename='go_from.gif')}}">
                        </div>
                    </div>
                    <!-- How it works Go To GIF -->
                    <div class="col-md-6 col-lg-6 mb-5">
                        <div class="container">
                            <img class="img-fluid" src="{{url_for('static', filename='to_this.gif')}}">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Section-->
        <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">Get Scripts</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row justify-content-center">
                    <div class="col-lg-4 ms-auto"></div>
                    <div class="col-lg-4 me-auto text-center"><p>Get the scripts from my github <a href="https://github.com/afaan5556/mail-unmerge"><span style="color:white; text-decoration: underline;">mail-unmerge repo</span></a> and/or send me a related question if you have one by submitting it below!</p></div>
                    <div class="col-lg-4 me-auto"></div>
                </div>
                <div class="row justify-content-center">
                    <form action="{{url_for('question')}}" method="POST">
                        <div class="row">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="question" class="form-label">Question</label>
                                <input type="text" class="form-control" name="question" id="question" style="height: 10rem" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 ms-auto"></div>
                            <div class="col-lg-4 text-center">
                                <button type="submit" class="btn btn-secondary">Send</button>
                            </div>
                            <div class="col-lg-4 ms-auto"></div>
                        </div>
                    </form>
                </div>                
            </div>
        </section>

{% endblock %}
