{% extends 'layout.html' %}

{% block title %} Home {% endblock %}
{% block body %}
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center" style="background-size: cover; background-position: center center; background-image: url('https://lh4.googleusercontent.com/v89fcMwLckwh-sipzrCOQITnOIgrAq81-VxpFvHhKLv8jOmrpMTwd6exndPo89PhczjU3txGABVtoNa5eEHtc9U'); transform: translate3d(0px, 0px, 0px);">
            <!-- <div class="container d-flex align-items-center flex-column"> -->
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Recruiting Automation Tool</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Automating notification email actions for recruiting teams</p>
            </div>
        </header>
        <!-- Overview Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="row" style="color: white">_</div>
            <div class="container">
                <!-- Overview Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Overview</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10 text-center">
                        <p>Recruiting teams receive multiple action-requiring automated notifications from Applicant Tracking Systems (ATS) such as Greenhouse each day. They tend to take action on these notifications as they come in, often manually extracting the key data needed for each action one email at a time.</p>
                        <p>This results in a disjointed and inefficient workflow that is prone to manual error.</p>
                        <p>RAT minimizes these manual actions and the associated error margin, while also creating a new stream of candidate scheduling activity data that enables load balancing and surfaces leading forecasting indicators.</p>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
                <div class="container align-items-center text-center">
                </div>
                <div class="row">
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <!-- Overview Grid Items-->
                <div class="row justify-content-center">
                    <!-- Overview Item 1 Image-->
                    <div class="col-md-6 col-lg-3 mb-5">
                        <div class="container">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            </div>
                            <img class="img-fluid" src="https://lh3.googleusercontent.com/wTL5SB0Z3Qk7eYgK4EzMqh65EfmXBhKMLBEKf6mchMDzn3EhP1001E0E8eST9Nql_hw0fVhOYdEr5-YMu8Y6bjY"/>
                        </div>
                    </div>
                    <!-- Overview Item 1 Text-->
                    <div class="col-md-6 col-lg-3 mb-5">
                        <h5 class="mb-3">Anti inbox anxiety</h5>
                        <p>The automation moves standard action-requiring emails out of the inbox to custom labels for focused "power-hour" actioning without inbox anxiety.</p>
                    </div>
                    <!-- Overview Item 2 Image-->
                    <div class="col-md-6 col-lg-3 mb-5">
                        <div class="container">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <img class="img-fluid" src="https://lh3.googleusercontent.com/V8A1rpMxrceG6M73Rq7FsFxmcoAgffpxcTSHgUkCdhf9JLMyyrMhQuDHihBe03AzXGABVlhTYY-ZyH7ZqtHCBg"/>
                            </div>
                        </div>
                    </div>
                    <!-- Overview Item 2 Text-->
                    <div class="col-md-6 col-lg-3 mb-5">
                        <h5 class="mb-3">Scheduling power hour</h5>
                        <p>The automation enables focused and contiguous actioning from consolidated key data tracker sheets instead of out of the inbox, one wordy email at a time.</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <!-- Overview Item 3 Image-->
                    <div class="col-md-6 col-lg-3 mb-5">
                        <div class="container">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            </div>
                            <img class="img-fluid" src="https://lh3.googleusercontent.com/o9WIQqwjKJzKHEcP75DuPtRrEJgSbDezwe7sPJZqC0iNhUkD2utnwy8FRzUH_YXcOIqRwDPeUs0t9LYsxYrgsj8"/>
                        </div>
                    </div>
                    <!-- Overview Item 3 Text-->
                    <div class="col-md-6 col-lg-3 mb-5">
                        <h5 class="mb-3">Cover through visibility</h5>
                        <p>The tracker sheets enable team members to easily cover for each other by providing visibility into each others candidate pipelines whenever needed.</p>
                    </div>
                    <!-- Overview Item 4 Image-->
                    <div class="col-md-6 col-lg-3 mb-5">
                        <div class="container">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            </div>
                            <img class="img-fluid" src="https://lh3.googleusercontent.com/tFNVrQtmd23mZEr66jQyiYr9A_FfkdaJtsEO34Fj-RhLLdPEmDe_EPaaYOvsRyqeGjejxOyn1nqyUA_ghNp2oWs"/>
                        </div>
                    </div>
                    <!-- Overview Item 4 Text-->
                    <div class="col-md-6 col-lg-3 mb-5">
                        <h5 class="mb-3">Leading indicators</h5>
                        <p>By aggregating notification email level activity, the automation surfaces candidate volume trends and load balancing opportunities across the team.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Section-->
        <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">Get Scripts</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row justify-content-center">
                    <div class="col-lg-4 ms-auto"></div>
                    <div class="col-lg-4 me-auto text-center"><p>Let me know where I should email the starter library of RAT scripts!</p></div>
                    <div class="col-lg-4 me-auto"></div>
                </div>
                <div class="row justify-content-center">
                    <form action="{{url_for('request_rat_scripts')}}" method="POST">
                        <div class="row mb-4">
                            <div class="col-lg-4 ms-auto"></div>
                            <div class="col-lg-4 ms-auto text-center">
                                <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
                            </div>
                            <div class="col-lg-4 ms-auto"></div>                            
                        </div>
                        <div class="row">
                            <div class="col-lg-4 ms-auto"></div>
                            <div class="col-lg-4 text-center">
                                <button type="submit" class="btn btn-secondary">Request</button>
                            </div>
                            <div class="col-lg-4 ms-auto"></div>
                        </div>
                    </form>
                </div>                
            </div>
        </section>

{% endblock %}
